 /* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 100%;
  min-width: 300px;

}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: $secondary-color;
} 

#otherType {
    display:none;
}
#otherTypeTG {
    display:none;
}
#otherTypeFaculty {
    display:none;
}
#otherEventTime {
    display:none;
}
#otherEventInstitution {
  display:none;
}

.tableofcontent {
    margin-top: 150px !important;
    ul {
      list-style: none;
      color: black;
      li {
        margin-bottom: 5px !important;
      }

    }
}

.tablehighlight {
    background-color: $secondary-color;
}

.fixedContainer {
    background-color:#fff;
    position: fixed;
    z-index: 1;
    right: 0%;
    top: 5%;
    transform: translateX(-10%);
}

#multiinput {
    width: auto;

}
.formnav {
    margin-top: 20px;
    padding-left: 0px;
}
table {

  border-collapse: collapse;
  width: 100%;
}

td, th {

  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
td:first-child {
    text-align: left;
}
.statusindicator {
    text-align:left;
    margin-bottom: 20px;
}

// test pie

.pie {
  width: 200px;
  height: 200px;
  background-image: conic-gradient(orange 50%, blue 50% 75%, red 75% 90%, green 90%);
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}


.feedback {
    text-align: left !important;
    background-color: $secondary-color;
    h1 {
        color: $primary-color;
        font-size: 5rem;
    }
    p {
        color: white;
    }
}

.formbuttons {
    margin: 0px !important;
}
.finalimg {
  width: 100%;
  height: auto;
}

