 /* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  width: 100%;
  min-width: 300px;

}
#conForm {
    background-color: $secondary-color;
    color: $white;
    margin: 100px auto;
    width: 100%;
    min-width: 300px;
    input[type=text] {
        background-color: $secondary-color;
        color: $white;
    }
    input[type=text]::placeholder {
       color: $white;
    }
}
/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
}

/* Mark input boxes that gets an error on validation: */
input[type=text].invalid {
  background-color: #ffdddd;
}
input[type=text]{
    background-color: white;
    border-bottom: 2px solid $fourth-color;
    margin-bottom: 10px;
}
input[type=text].other {
    display:none;
}
.other {
    display:none;
}
.hidden {
}
select {
    border: 2px solid $fourth-color;
    background-color: white;
    margin-bottom: 10px;
}
select.invalid {
    background-color: #ffdddd;
}
/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  //display: inline-block;
  display: none;
  opacity: 1;
  text-align: center;
}

/* Mark the active step: */
.step.active {
  opacity: 0.5;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: $primary-color;
} 

.other {
    display:none;
}

.tableofcontent {
    margin-top: 150px !important;
    ul {
      list-style: none;
      color: black;
      li {
        margin-bottom: 5px !important;
      }

    }
}

.tablehighlight {
    background-color: $secondary-color;
}

.fixedContainer {
    background-color:#fff;
    position: fixed;
    z-index: 1;
    right: 0%;
    top: 5%;
    transform: translateX(-10%);
}

.multiinput {
    width: auto;
    display:block;
    margin:0 auto;

}
.formnav {
    margin-top: 20px;
    padding-left: 10px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: center;
  padding: 4px;
}

tr:nth-child(even) {
  //background-color: #dddddd;
}
td:first-child {
    text-align: left;
}
.statusindicator {
    padding: 0px;

    .inner {
        text-align: left;
        //margin-bottom: 20px;
        background-color: $fourth-color;
        width: 50%;
        padding: 15px;
        padding-top: 15px;
        //height: 20vh;
    }
}

.matrixtag {
    text-align:center;
    margin-bottom: 20px;

    .matrixtag-inner {
    border-radius: 25px;
    margin: 5px;
    border: 2px solid $fourth-color;
    }
}

.feedback {
    text-align: left !important;
    width:100%;
    padding-bottom: 20px;
    height: auto;
    background-color: $secondary-color;
    h1 {
        color: $primary-color;
        font-size: 5rem;
        padding-left: 30px;
    }
    p {
        color: white;
        padding-left: 30px;
        padding-bottom: 20px;
    }
}

.formbuttons {
    margin: 0px !important;
    padding-bottom: 20px;
}
.center {
    width: 100%;
    height: auto;
}

input[type=checkbox] {
        border: 3px solid #fff;
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;

        display:block;
        transform:translateY(0%);
        margin:0 auto;
        vertical-align:middle;
        text-align: center;
        display: inline-block;

        appearance: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
}


input[type=checkbox]:checked {
    background-color: $secondary-color;
}
.checkbox-box {
        width: 20px;
        height: 20px;
        background-color: $fourth-color;
        border-radius: 50%;
        margin:0 auto;
        vertical-align:middle;
        text-align: center;
        display: inline-block;
}

.checkbox-el {
  position: relative;
  width: 25px;
  display: inline-block;
  height: 25px;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid $fourth-color;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  padding: 5px;

}

.checkbox-el input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox-circle {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: scale(0.5);
  transition: all 0.25s ease-in;
}

.checkbox-el input:checked + .checkbox-circle {
  background-color: $secondary-color;
  transform: scale(1)
}
.centered {
    vertical-align:middle;
    text-align: center;
    }
.centered img {
    display:block;
    margin:0 ;
    width: 25px;
}
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: $primary-color;
  color: #fff;
  text-align: left;
  padding: 8px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 2;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.formcontent {
    padding: 18px;
}
#typeOne{
    display: none;
}
#typeTwo{
    display: none;
}
#typeThree{
    display: none;
}
#typeFour{
    display: none;
}
#typeFive{
    display: none;
}
.collapsfeed {
 padding: 0px;
}
.collapsible {
  cursor: pointer;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  margin: 0px !important;
  &:after {
    content: '\F107'; /* Unicode character for "plus" sign (+) */
    font-family: 'fontello';
    float: right;
    margin-left: 5px;
  }
  &.active:after {
    content: "\F106"; /* Unicode character for "minus" sign (-) */
  }
  &.orange {
    background-color: $primary-color;
    color: $black;
  }
  &.blue {
    background-color: $third-color;
    color: $black;
  }
  &.green {
    background-color: $fourth-color;
    color: $black;
  }

}

.active, .collapsible:hover {
  background-color: none;
}

.content {
  padding-bottom: 20px;
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  &.orange{
    background-color: $primary-color;
    color: $black;
  }
  &.green{
    background-color: $fourth-color;
    color: $black;
  }

  &.blue{
    background-color: $third-color;
    color: $black;
  }
}
.variablea {
    display: none;
}
.variableb {
    display: none;
}
.variablec {
    display: none;
}
.variabled {
    display: none;
}
#feedbackfieldtwo {
    .section {
        padding-bottom: 0px;
    }
}