 /* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  //padding: 40px;
  width: 100%;
  min-width: 300px;

}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input[type=text].invalid {
  background-color: #ffdddd;
}
input[type=text]{
    background-color: white;
    border-bottom: 2px solid $fourth-color;
    margin-bottom: 10px;
}
input[type=text].other {
    display:none;
}
.other {
    display:none;
}
.hidden {
}
select {
    border: 2px solid $fourth-color;
    background-color: white;
    margin-bottom: 10px;
}
select.invalid {
  background-color: #ffdddd;
}
/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 1;
  text-align: center;
}

/* Mark the active step: */
.step.active {
  opacity: 0.5;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: $primary-color;
} 

.other {
    display:none;
}

.tableofcontent {
    margin-top: 150px !important;
    ul {
      list-style: none;
      color: black;
      li {
        margin-bottom: 5px !important;
      }

    }
}

.tablehighlight {
    background-color: $secondary-color;
}

.fixedContainer {
    background-color:#fff;
    position: fixed;
    z-index: 1;
    right: 0%;
    top: 5%;
    transform: translateX(-10%);
}

.multiinput {
    width: auto;
    display:block;
    margin:0 auto;

}
.formnav {
    margin-top: 20px;
    padding-left: 10px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  //background-color: #dddddd;
}
td:first-child {
    text-align: left;
}
.statusindicator {
    padding: 0px;
    .inner {
        text-align:left;
        //margin-bottom: 20px;
        background-color: $fourth-color;
        width: 50%;
        padding: 7.5px;
        //height: 20vh;
    }
}
.formcontent {
    padding: 18px;

}

.matrixtag {
    text-align:center;
    margin-bottom: 20px;

    .matrixtag-inner {
    border-radius: 25px;
    margin: 5px;
    border: 2px solid $fourth-color;
    }
}

.feedback {
    text-align: left !important;
    margin-top: 8vh;
    height: 150vh;
    width:100%;
    background-color: $secondary-color;
    h1 {
        color: $primary-color;
        font-size: 5rem;
    }
    p {
        color: white;
    }
}

.formbuttons {
    margin: 0px !important;
}
.center {
  width: 100%;
  height: auto;
}

input[type=checkbox] {
        border: 3px solid #fff;
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;

        display:block;
        transform:translateY(0%);
        margin:0 auto;
        vertical-align:middle;
        text-align: center;
        display: inline-block;

        appearance: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
}


input[type=checkbox]:checked {
    background-color: $secondary-color;
}
.checkbox-box {
        width: 20px;
        height: 20px;
        background-color: $fourth-color;
        border-radius: 50%;
        margin:0 auto;
        vertical-align:middle;
        text-align: center;
        display: inline-block;
}

.checkbox-el {
  position: relative;
  width: 25px;
  display: inline-block;
  height: 25px;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid $fourth-color;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  padding: 5px;

}

.checkbox-el input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox-circle {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: scale(0.5);
  transition: all 0.25s ease-in;
}

.checkbox-el input:checked + .checkbox-circle {
  background-color: $secondary-color;
  transform: scale(1)
}

.info {
      align-items: center;
      justify-content: center;
      width: 18px;
      //position:relative;
}
.centered {
    vertical-align:middle;
    text-align: center;
    }
.centered img {
    display:block;
    margin:0 ;
    width: 18px;
}
label {
    font-size: 1rem;
}
