---
layout: default
---
<div class="row" onload="checkstatus()">
    <section class="col-md-24 col-xs-24">
        <form
                id="regForm"
                action="https://formspree.io/f/mqkojldo"
                method="POST"
        >
            <div class="col-md-24 statusindicator col-xs-24 ">
                <div class="inner">
                    <span class="step">1</span>
                    <span class="step">2</span>
                    <span class="step">3</span>
                    <span class="step">4</span>
                    <span class="step">5</span>
                    <span class="step">6</span>

                </div>
            </div>

            <!-- One "tab" for each step in the form: -->
            <div class="tab">

                <div class="col-md-12 forminfo col-xs-24">
                    <h3 class="regular">Allgemeine Angaben zur Lehrveranstaltung</h3>
                    <p>Für die Durchführung denke bitte an eine bestimmte Lehr- und Lernveranstaltung, die du in den vergangenen Monaten durchgeführt hast. Die nachfolgenden sowohl offenen als auch geschlossenen Fagen beziehen sich dann auf das von dir ausgewählte Beispiel.</p>
                </div>

                <div class="row">
                    <div class="col-md-12 formcontent col-xs-24">
                        <label>Titel der Lehrveranstaltung</label>
                        <div>
                            <input id="eventtitel" class="" placeholder="bitte eingeben (optional)" type="text" name="eventtitel" >
                        </div>
                        <label>Art der Lehr- und Lernveranstaltung</label>
                        {% if site.data.oertool.eventtype %}
                            <select name="eventType" class="checkreload" id="eventType" onchange="checkfield('eventType', 'otherType')">
                                {% for et in site.data.oertool.eventtype %}
                                    <option value="{{ et.value }}">{{ et.name }}</option>
                                {% endfor %}
                            </select>
                            <div>
                                <input class="other" id="otherType" placeholder="bitte eingeben" type="text" name="otherType" >
                            </div>
                        {% endif %}
                        <label>Status der Lehr- und Lernveranstaltung</label>
                        <select name="eventStatus" id="eventStatus">
                            <option value="0">...</option>
                            <option value="Pflichtfach">Pflichtfach</option>
                            <option value="Wahlpflichtfach">Wahlpflichtfach</option>
                            <option value="weder noch">weder noch</option>
                        </select>
                        <label>Zielgruppe</label>
                        <select name="eventTarget" id="eventTarget" onchange="checkfield('eventTarget', 'otherTypeTG')">
                            <option value="0">...</option>
                            <option value="1">Bachelor</option>
                            <option value="other">Master</option>
                        </select>
                        <select class="other hidden" name="otherTypeTG" id="otherTypeTG">
                            <option value="0">...</option>
                            <option value="1">1. Semester</option>
                            <option value="2">2. Semester und höher</option>
                        </select>
                        <label>Anzahl der Teilnehmenden</label>
                        {% if site.data.oertool.event_tgcount %}
                        <select name="tgcount" id="tgcount">
                            {% for tg in site.data.oertool.event_tgcount %}
                                <option value="{{ tg.value }}">{{ tg.name }}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                        <label>Zeitlicher Umfang</label>
                        <select name="eventtime" id="eventtime" onchange="checkfield('eventtime', 'otherEventTime')">
                            <option value="0">...</option>
                            <option value="1">2 Semesterwochenstunden</option>
                            <option value="2">4 Semesterwochenstunden</option>
                            <option value="other">Anderer, und zwar..</option>
                        </select>
                        <div>
                            <input class="other" id="otherEventTime" placeholder="bitte eingeben" type="text" name="otherEventTime" >
                        </div>
                        <label>Hochschulart</label>
                        {% if site.data.oertool.event_institution %}
                        <select name="event_institution" id="event_institution" onchange="checkfield('event_institution', 'otherEventInstitution')">
                            {% for ei in site.data.oertool.event_institution %}
                            <option value="{{ ei.value }}">{{ ei.name }}</option>
                            {% endfor %}
                        </select>
                        <div>
                            <input class="other" id="otherEventInstitution" placeholder="bitte eingeben" type="text" name="otherEventInstitution" >
                        </div>
                        {% endif %}
                        <label>Fachbereich</label>
                        {% if site.data.oertool.event_faculty %}
                        <select name="eventFaculty" id="eventFaculty" onchange="checkfield('eventFaculty', 'otherTypeFaculty')">
                            {% for tg in site.data.oertool.event_faculty %}
                            <option value="{{ tg.value }}">{{ tg.name }}</option>
                            {% endfor %}
                        </select>
                        <div>
                            <input class="other" id="otherTypeFaculty" placeholder="bitte eingeben" type="text" name="otherTypeFaculty" >
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="tab">

                <div class="col-md-12 forminfo col-xs-24">
                    <h3 class="regular">Partizipationsausprägung</h3>
                    <p>Im Folgenden wird der Begriff der "Openness" in OEP auf den Partizipationsaspekt fokussiert. Mit Partizipation im Lehr- und Lernkontext wird ein gemeinsamer Lernprozess auf Augenhöhe beschrieben, bei dem sowohl Lehrende als auch Studierende als Gestalter:innen betrachtet werden. Die Art der Beteiligung kann dabei wie nachfolgend aufgezeigt in unterschiedlichen Formen gestaltet sein.</p>
                </div>

                <div class="row">
                    <div class="col-md-12 col-xs-24">
                        <table>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>a</th>
                                <th>b</th>
                                <th>c</th>
                                <th>d</th>
                                <th>e</th>
                                <th>f</th>
                            </tr>
                            <tr>
                                <td><div class="centered" ><img class="" src="/assets/img/static/info.png"/></div></td>
                                <td class="matrixtag"><div class="matrixtag-inner">Ziele</div></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ziele" value="1"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ziele" value="2"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ziele" value="3"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ziele" value="4"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ziele" value="5"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ziele" value="0"/><div class="checkbox-circle"></div></span></td>
                            </tr>
                            <tr>
                                <td><div class="centered" ><img class="" src="/assets/img/static/info.png"/></div></td>
                                <td class="matrixtag"><div class="matrixtag-inner">Inhalte</div></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Inhalte" value="1"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Inhalte" value="2"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Inhalte" value="3"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Inhalte" value="4"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Inhalte" value="5"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Inhalte" value="0"/><div class="checkbox-circle"></div></span></td>
                            </tr>
                            <tr>
                                <td><div class="centered" ><img class="" src="/assets/img/static/info.png"/></div></td>
                                <td class="matrixtag"><div class="matrixtag-inner">Ergebnisse</div></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ergebnisse" value="1"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ergebnisse" value="2"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ergebnisse" value="3"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ergebnisse" value="4"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ergebnisse" value="5"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ergebnisse" value="0"/><div class="checkbox-circle"></div></span></td>
                            </tr>
                            <tr>
                                <td><div class="centered" ><img class="" src="/assets/img/static/info.png"/></div></td>
                                <td class="matrixtag"><div class="matrixtag-inner">Methoden</div></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Methoden" value="1"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Methoden" value="2"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Methoden" value="3"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Methoden" value="4"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Methoden" value="5"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Methoden" value="0"/><div class="checkbox-circle"></div></span></td>
                            </tr>
                            <tr>
                                <td><div class="centered" ><img class="" src="/assets/img/static/info.png"/></div></td>
                                <td class="matrixtag"><div class="matrixtag-inner">Medien</div></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Medien" value="1"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Medien" value="2"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Medien" value="3"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Medien" value="4"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Medien" value="5"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Medien" value="0"/><div class="checkbox-circle"></div></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab">

                <div class="col-md-12 forminfo col-xs-24">
                    <h3 class="regular">Studentisches Feedback</h3>
                    <p>Das Feedback der Studierenden kann zur Weiterentwicklung deiner Lehrpraxis und zur Steigerung der Lehr-Lernqualität beitragen.</p>
                </div>

                <div class="row">
                    <div class="col-md-12 col-xs-24">
                        <label>Hast du dir Feedback zur Lehr- und Lernveranstaltung von den Studierenden eingeholt?</label>

                        <select name="eventFeedbackVorhanden" id="eventFeedbackVorhanden" onchange="checkfield('eventFeedbackVorhanden', 'feedbackYes')">
                            <option value="0">...</option>
                            <option value="other">ja</option>
                            <option value="nein">nein</option>
                        </select>
                        <div class="other" id="feedbackYes">
                            <div>
                                <label>Zu welchen Aspekten hast du dir das Feedback eingeholt?</label>
                                <input id="eventFeedbackWhat" placeholder="bitte begründen" type="text" name="eventFeedbackWhat" >
                            </div>
                            <label>Wie ist das Feedback seitens der Studierenden ausgefallen?</label>

                            <select class="hidden" name="feedbackStudents" id="feedbackStudents" onchange="checkfield('feedbackStudents', 'feedbackStudentsWhy')">
                                <option value="0">...</option>
                                <option value="1">überwiegend sehr gut</option>
                                <option value="2">überwiegend gut</option>
                                <option value="3">überwiegend befriedigend</option>
                                <option value="4">überwiegend schlecht</option>
                                <option value="other">ausbaufähig, weil...</option>
                            </select>
                            <div>
                                <input class="other" id="feedbackStudentsWhy" placeholder="bitte eingeben" type="text" name="otherType" >
                            </div>
                        </div>
                        <label>Würdest du die Lehr-Lernveranstaltung in dieser Form wiederholen?</label>

                        <select name="eventErneutAnbieten" id="eventErneutAnbieten">
                            <option value="0">...</option>
                            <option value="ja">ja</option>
                            <option value="nein">nein</option>
                        </select>
                        <div>
                            <input class="open" id="eventErneutAnbietenWhy" placeholder="bitte begründen" type="text" name="eventErneutAnbietenWhy" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab">

                <div class="col-md-12 forminfo col-xs-24">
                    <h3 class="regular">Beeinflussende Faktoren</h3>
                    <p>Das Lernen und Lehren kann von weiteren Faktoren u.a. im Zuge der Digitalisierung beeinflusst werden.</p>
                </div>

                <div class="row">
                    <div class="col-md-12 col-xs-24">
                        <label>Glaubst du, dass digitale Medien zu mehr studentischer Beteiligung in der Lehre und im Lernen geführt haben?</label>

                        <select name="einflussStudentsTools" id="einflussStudentsTools">
                            <option value="0">...</option>
                            <option value="ja">ja</option>
                            <option value="nein">nein</option>
                            <option value="kA">ich weiß es nicht</option>
                        </select>
                        <div>
                            <input id="einflussStudentsToolsWhy" class="open" placeholder="bitte begründen" type="text" name="einflussStudentsToolsWhy" >
                        </div>
                        <label>Welche Aspekte haben sich aus deiner Sicht fördernd auf die studentische Partizipation ausgewirkt?</label>
                        <div>
                            <input id="einflussPartizipationPro" class="open" placeholder="...?" type="text" name="einflussPartizipationPro" >
                        </div>
                        <label>Welche Aspekte haben sich aus deiner Sicht hemmend auf die studentische Partizipation ausgewirkt?</label>
                        <div>
                            <input id="einflussPartizipationCon" class="open" placeholder="...?" type="text" name="einflussPartizipationCon" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab">

                <div class="col-md-12 forminfo col-xs-24">
                    <h3 class="regular">Demografie</h3>
                    <p>Zu guter Letzt sind wir interessiert, welche Lehrerfahrung du mitbringst.</p>
                </div>

                <div class="row">
                    <div class="col-md-12 col-xs-24">
                        <label>Seit wann bist du in der Lehre tätig?</label>

                        <select name="lehreInJahren" id="lehreInJahren">
                            <option value="0">...</option>
                            <option value="<1"><1 Jahr</option>
                            <option value="1-2">1-2 Jahre</option>
                            <option value="2-3">2-3 Jahre</option>
                            <option value="3-5">3-5 Jahre</option>
                            <option value="5-10">5-10 Jahre</option>
                            <option value="10-20">10-20 Jahre</option>
                            <option value="20-30">20-30 Jahre</option>
                            <option value=">30">>30 Jahre</option>
                        </select>
                        <label>Welche Rolle hast du an der wissenschaftlichen Einrichtung?</label>

                        <select name="rolleLehrperson" id="rolleLehrperson" onchange="checkfield('rolleLehrperson', 'rolleLehrpersonAndere')">
                            <option value="0">...</option>
                            <option value="Prof">Professor_in</option>
                            <option value="ForschGrupLeit">Forschungsgruppenleiter_in</option>
                            <option value="WiMi">Wissenschaftliche(r) Mitarbeiter_in</option>
                            <option value="StuMi">Studentische(r) Mitarbeiter_in</option>
                            <option value="PostDoc">PostDoc</option>
                            <option value="LehrPmbAufg">Lehrperson mit besonderen Aufgaben</option>
                            <option value="other">andere...</option>
                        </select>
                        <div>
                            <input id="rolleLehrpersonAndere" class="other" placeholder="bitte angeben" type="text" name="rolleLehrpersonAndere" >
                        </div>
                        <label>In welchem Bundesland bist du tätig?</label>

                        <select name="bundesland" id="bundesland">
                            <option value="0">...</option>
                            <option value="Baden-Württemberg">Baden-Württemberg</option>
                            <option value="Bayern">Bayern</option>
                            <option value="Berlin">Berlin</option>
                            <option value="Brandenburg">Brandenburg</option>
                            <option value="Bremen">Bremen</option>
                            <option value="Hamburg">Hamburg</option>
                            <option value="Hessen">Hessen</option>
                            <option value="Mecklenburg-Vorpommern">Mecklenburg-Vorpommern</option>
                            <option value="Niedersachsen">Niedersachsen</option>
                            <option value="Nordrhein-Westfalen">Nordrhein-Westfalen</option>
                            <option value="Rheinland-Pfalz">Rheinland-Pfalz</option>
                            <option value="Saarland">Saarland</option>
                            <option value="Sachsen">Sachsen</option>
                            <option value="Sachsen-Anhalt">Sachsen-Anhalt</option>
                            <option value="Schleswig-Holstein">Schleswig-Holstein</option>
                            <option value="Thüringen">Thüringen</option>
                            <option value="Ausserhalb von Deutschland">Außerhalb von Deutschland</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="tab">

                <div class="col-md-12 forminfo col-xs-24">
                    <h3 class="regular">Du hast es geschafft! 💪</h3>
                </div>

                <div class="row content-wrap">
                    <div class="col-md-12 col-xs-24">
                        <img class="center" src="/assets/img/static/standingovation.gif"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12 formnav">

                <div class="content-wrap formbuttons">
                    <button class="edu-btn black" type="button" id="prevBtn" onclick="nextPrev(-1)">Zurück</button>
                    <button class="edu-btn black" type="button" id="nextBtn" onclick="nextPrev(1)">Weiter</button>
                </div>
            </div>
        </form>
    </section>
</div>

