---
layout: default
---

<div class="row">
    <section class="col-md-12 col-xs-24 feedback" onload="feedbackForm()">
        <div class="feedback inner">
            <div class="row col-md-12 col-xs-24">
                <div class="content-wrap">
                    <p>Die Auswertung hat ergeben, dass du folgender Typ bist</p>
                    <h1 id="feedbackOne"></h1>
                    <!--
                    <button type="button" onclick="printJS('docs/printjs.pdf')">
                        Print PDF
                    </button>
                    -->
                </div>
            </div>
            <div class="row col-md-12 col-xs-24 col-md-push-0 col-xs-push-5">
                <div class="content-wrap" id="formpiecontainer">
                    <div class="" id="formpie"></div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="row" id="feedbackfieldone">
    <section class="section brown col-md-12 col-xs-24">
        <div class="content-wrap content-box-el">
            <h2 class="regular"></h2>
            <p id="feedbackTwo"></p>
        </div>
    </section>
    <section class="section white hidemobil col-md-12 col-xs-24">
        <div class="content-wrap frontpage content-box-el">
            <img src="assets/img/static/home-img-1.png"/>
        </div>
    </section>
</div>
<div class="row" id="feedbackfieldtwo">
    <section class="section white hidemobil col-md-12 col-xs-24">
        <div class="content-wrap frontpage content-box-el">
        </div>
    </section>
    <section class="collapsfeed col-md-12 col-xs-24">
        {% if site.data.oertool.feedback %}
            {% for feedback in site.data.oertool.feedback %}
                {% if feedback.type == 1 %}
                    <div id="typeOne" >
                        <button class="collapsible orange">Vorbereitung</button>
                        <div class="content orange">{% if feedback.prep_de %}<p>{{feedback.prep_de}}</p>{% endif %}</div>
                        <button class="collapsible green">Durchführung</button>
                        <div class="content green">{% if feedback.start_de %}<p>{{feedback.start_de}}</p>{% endif %}</div>
                        <button class="collapsible blue">Evaluation</button>
                        <div class="content blue">{% if feedback.eva_de %}<p>{{feedback.eva_de}}</p>{% endif %}</div>
                    </div>
                {%endif%}
                {% if feedback.type == 2 %}
                    <div id="typeTwo" >
                        <button class="collapsible orange">Vorbereitung</button>
                        <div class="content orange">{% if feedback.prep_de %}<p>{{feedback.prep_de}}</p>{% endif %}</div>
                        <button class="collapsible green">Durchführung</button>
                        <div class="content green">{% if feedback.start_de %}<p>{{feedback.start_de}}</p>{% endif %}</div>
                        <button class="collapsible blue">Evaluation</button>
                        <div class="content blue">{% if feedback.eva_de %}<p>{{feedback.eva_de}}</p>{% endif %}</div>
                    </div>
                {% endif %}
                {% if feedback.type == 3 %}
                    <div id="typeThree" >
                        <button class="collapsible orange">Vorbereitung</button>
                        <div class="content orange">{% if feedback.prep_de %}<p>{{feedback.prep_de}}</p>{% endif %}</div>
                        <button class="collapsible green">Durchführung</button>
                        <div class="content green">{% if feedback.start_de %}<p>{{feedback.start_de}}</p>{% endif %}</div>
                        <button class="collapsible blue">Evaluation</button>
                        <div class="content blue">{% if feedback.eva_de %}<p>{{feedback.eva_de}}</p>{% endif %}</div>
                    </div>
                {% endif %}
                {% if feedback.type == 4 %}
                    <div id="typeFour" >
                        <button class="collapsible orange">Vorbereitung</button>
                        <div class="content orange">{% if feedback.prep_de %}<p>{{feedback.prep_de}}</p>{% endif %}</div>
                        <button class="collapsible green">Durchführung</button>
                        <div class="content green">{% if feedback.start_de %}<p>{{feedback.start_de}}</p>{% endif %}</div>
                        <button class="collapsible blue">Evaluation</button>
                        <div class="content blue">{% if feedback.eva_de %}<p>{{feedback.eva_de}}</p>{% endif %}</div>
                    </div>
                {% endif %}
                {% if feedback.type == 5 %}
                    <div id="typeFive" >
                        <button class="collapsible orange">Vorbereitung</button>
                        <div class="content orange">{% if feedback.prep_de %}<p>{{feedback.prep_de}}</p>{% endif %}</div>
                        <button class="collapsible green">Durchführung</button>
                        <div class="content green">{% if feedback.start_de %}<p>{{feedback.start_de}}</p>{% endif %}</div>
                        <button class="collapsible blue">Evaluation</button>
                        <div class="content blue">{% if feedback.eva_de %}<p>{{feedback.eva_de}}</p>{% endif %}</div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </section>
</div>
<div class="row" >
    <section class="section blue col-md-12 col-xs-24">
        <div class="content-wrap content-box-el">
            <h2 class="regular">Kontakt</h2>
            <form
                    id="conForm"
                    action="https://formspree.io/f/mnqkojnq"
                    method="POST"
            >

                <div>
                    <input class="" id="name" placeholder="Name" type="text" name="name" >
                </div>
                <div>
                    <input class="" id="mail" placeholder="E-Mail-Adresse" type="text" name="mail" >
                </div>
                <div>
                    <input class="" id="content" placeholder="Nachricht" type="text" name="content" >
                </div>
                <div class="col-md-12 formnav col-xs-24">

                    <div class="content-wrap formbuttons">
                        <button class="edu-btn orange" type="button" id="" onclick="submit()">Absenden</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class="section blue col-md-12 col-xs-24">
        <div class="content-wrap content-box-el">
            <div class="col-md-12 formnav col-xs-24">

            </div>
        </div>
    </section>
</div>
<!--
<div class="row">
    <section class="col-md-24 col-xs-24" style="background-color: white;">
        <div class="col-md-12 formnav col-xs-24">
            <div class="content-wrap formbuttons">
                <a class="edu-btn orange" id="button" style="" ></a>
            </div>
        </div>
    </section>
</div>
-->