---
layout: default
---
<div class="row" onload="checkstatus()">
    <section class="col-md-24 col-xs-24">
        <form
                id="regForm"
                action="https://formspree.io/f/xpzglqog"
                method="POST"
        >
            <div class="col-md-24 statusindicator col-xs-24 ">
                <div class="inner">
                    <h3 id="stepindicator"></h3>
                    <span class="step">1</span>
                    <span class="step">2</span>
                    <span class="step">3</span>
                    <span class="step">4</span>
                    <span class="step">5</span>
                    <span class="step">6</span>
                    <span class="step">7</span>
                </div>
            </div>

            <!-- One "tab" for each step in the form: -->
            <div class="tab">

                <div class="col-md-12 forminfo col-xs-24">
                    <h3 class="">Allgemeine Angaben zur Lehrveranstaltung</h3>
                    <p>Bei der Eingabe denke bitte an eine bestimmte Lehr- und Lernveranstaltung, die du in den vergangenen Monaten durchgeführt hast. Die nachfolgenden sowohl offenen als auch geschlossenen Fagen beziehen sich dann auf das von dir ausgewählte Beispiel. Im Anschluss erhälst du Feedback zu deinen Angaben, die wir anonymisiert speichern.</p>
                </div>

                <div class="row">
                    <div class="col-md-12 formcontent col-xs-24">
                        <label>Titel der Lehrveranstaltung</label>
                        <div>
                            <input id="eventtitel" class="" placeholder="bitte eingeben (optional)" type="text" name="eventtitel" >
                        </div>
                        <label>Art der Lehr- und Lernveranstaltung</label>
                        {% if site.data.oertool.eventtype %}
                            <select name="eventType" class="checkreload" id="eventType" onchange="checkfield('eventType', 'otherType')">
                                {% for et in site.data.oertool.eventtype %}
                                    <option value="{{ et.value }}">{{ et.name }}</option>
                                {% endfor %}
                            </select>
                            <div>
                                <input class="other" id="otherType" placeholder="bitte eingeben" type="text" name="otherType" >
                            </div>
                        {% endif %}
                        <label>Status der Lehr- und Lernveranstaltung</label>
                        <select name="eventStatus" id="eventStatus">
                            <option value="0">...</option>
                            <option value="Pflichtfach">Pflichtfach</option>
                            <option value="Wahlpflichtfach">Wahlpflichtfach</option>
                            <option value="weder noch">weder noch</option>
                        </select>
                        <label>Zielgruppe</label>
                        <select name="eventTarget" id="eventTarget" onchange="checkfield('eventTarget', 'otherTypeTG')">
                            <option value="0">...</option>
                            <option value="1">Bachelor</option>
                            <option value="other">Master</option>
                        </select>
                        <select class="other hiddencontent" name="otherTypeTG" id="otherTypeTG">
                            <option value="0">...</option>
                            <option value="1">1. Semester</option>
                            <option value="2">2. Semester und höher</option>
                        </select>
                        <label>Anzahl der Teilnehmenden</label>
                        {% if site.data.oertool.event_tgcount %}
                        <select name="tgcount" id="tgcount">
                            {% for tg in site.data.oertool.event_tgcount %}
                                <option value="{{ tg.value }}">{{ tg.name }}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                        <label>Zeitlicher Umfang</label>
                        <select name="eventtime" id="eventtime" onchange="checkfield('eventtime', 'otherEventTime')">
                            <option value="0">...</option>
                            <option value="1">2 Semesterwochenstunden</option>
                            <option value="2">4 Semesterwochenstunden</option>
                            <option value="other">Anderer, und zwar..</option>
                        </select>
                        <div>
                            <input class="other" id="otherEventTime" placeholder="bitte eingeben" type="text" name="otherEventTime" >
                        </div>
                        <label>Hochschulart</label>
                        {% if site.data.oertool.event_institution %}
                        <select name="event_institution" id="event_institution" onchange="checkfield('event_institution', 'otherEventInstitution')">
                            {% for ei in site.data.oertool.event_institution %}
                            <option value="{{ ei.value }}">{{ ei.name }}</option>
                            {% endfor %}
                        </select>
                        <div>
                            <input class="other" id="otherEventInstitution" placeholder="bitte eingeben" type="text" name="otherEventInstitution" >
                        </div>
                        {% endif %}
                        <label>Fachbereich</label>
                        {% if site.data.oertool.event_faculty %}
                        <select name="eventFaculty" id="eventFaculty" onchange="checkfield('eventFaculty', 'otherTypeFaculty')">
                            {% for tg in site.data.oertool.event_faculty %}
                            <option value="{{ tg.value }}">{{ tg.name }}</option>
                            {% endfor %}
                        </select>
                        <div>
                            <input class="other" id="otherTypeFaculty" placeholder="bitte eingeben" type="text" name="otherTypeFaculty" >
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="tab">

                <div class="col-md-12 forminfo col-xs-24">
                    <div class="inner">
                    <h3 class="">Partizipationsausprägung</h3>
                    <p>Im Folgenden wird der Begriff der "Openness" in OEP auf den Partizipationsaspekt fokussiert. Mit Partizipation im Lehr- und Lernkontext wird ein gemeinsamer Lernprozess auf Augenhöhe beschrieben, bei dem sowohl Lehrende als auch Studierende als Gestalter:innen betrachtet werden. Die Art der Beteiligung kann dabei wie nachfolgend aufgezeigt in unterschiedlichen Formen gestaltet sein.</p>
                    <p>
                        <strong>a - lehrendenzentriert</strong><br>Von mir als Dozierende(r) definiert und festgelegt.<br>
                        <strong>b - anhörend</strong><br>Von mir als Dozierende(r) definiert und festgelegt mit Möglichkeiten für studentisches Feedback.<br>
                        <strong>c - repräsentativ</strong><br>Von mir und einer Studierendenvertretung diskutiert, definiert und festgelegt.<br>
                        <strong>d - partnerschaftlich</strong><br>Gemeinsam mit allen Beteiligten in einem partnerschaftlichen Verständnis diskutiert, definiert und festgelegt.<br>
                        <strong>e - studierendenzentriert</strong><br>Von den Lernenden vordergründig definiert und festgelegt.<br>
                        <strong>f - unbestimmbar</strong><br>Kann ich nicht einschätzen oder beeinflussen.
                    </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 formcontent col-xs-24">
                        <table>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>a</th>
                                <th>b</th>
                                <th>c</th>
                                <th>d</th>
                                <th>e</th>
                                <th>f</th>
                            </tr>
                            <tr>
                                <td><div class="centered tooltip"><img class="" src="/assets/img/static/info.png"/><span class="tooltiptext">… beschreiben diejenigen Fähigkeiten und Fertigkeiten respektive dasjenige Wissen und Können, welche(s) die Studierenden aufgrund einer abgeschlossenen Lerneinheit erwerben sollen.</span></div></td>
                                <td class="matrixtag"><div class="matrixtag-inner">Ziele</div></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ziele" value="1"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ziele" value="2"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ziele" value="3"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ziele" value="4"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ziele" value="5"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ziele" value="0"/><div class="checkbox-circle"></div></span></td>
                            </tr>
                            <tr>
                                <td><div class="centered tooltip" ><img class="" src="/assets/img/static/info.png"/><span class="tooltiptext">… umfassen das Thema bzw. den Gegenstand im Lehr- und Lernprozess, der gelehrt und gelernt wird.</span></div></td>
                                <td class="matrixtag"><div class="matrixtag-inner">Inhalte</div></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Inhalte" value="1"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Inhalte" value="2"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Inhalte" value="3"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Inhalte" value="4"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Inhalte" value="5"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Inhalte" value="0"/><div class="checkbox-circle"></div></span></td>
                            </tr>
                            <tr>
                                <td><div class="centered tooltip"><img class="" src="/assets/img/static/info.png"/><span class="tooltiptext">… stellen die Leistungen der Studierenden in den Vordergrund und zeigen auf, was die Lernenden nach dem Abschluss einer Lernphase wissen, verstehen oder gestalten können.</span></div></td>
                                <td class="matrixtag"><div class="matrixtag-inner">Ergebnisse</div></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ergebnisse" value="1"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ergebnisse" value="2"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ergebnisse" value="3"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ergebnisse" value="4"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ergebnisse" value="5"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Ergebnisse" value="0"/><div class="checkbox-circle"></div></span></td>
                            </tr>
                            <tr>
                                <td><div class="centered tooltip" ><img class="" src="/assets/img/static/info.png"/><span class="tooltiptext">… beschreiben die Art und Weise wie der Inhalt und andere Aspekte des Lernens in Aktivitäten bzw. Lehr- und Lernstrategien umgesetzt werden (z.B. Projektarbeit, Service learning etc.).</span></div></td>
                                <td class="matrixtag"><div class="matrixtag-inner">Methoden</div></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Methoden" value="1"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Methoden" value="2"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Methoden" value="3"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Methoden" value="4"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Methoden" value="5"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Methoden" value="0"/><div class="checkbox-circle"></div></span></td>
                            </tr>
                            <tr>
                                <td><div class="centered tooltip"><img class="" src="/assets/img/static/info.png"/><span class="tooltiptext">… beschreiben die Darstellungsart und Vermittlung von Informationen (wie z.B. Podcasts, Lernapps, Videos, KI).</span></div></td>
                                <td class="matrixtag"><div class="matrixtag-inner">Medien</div></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Medien" value="1"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Medien" value="2"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Medien" value="3"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Medien" value="4"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Medien" value="5"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Medien" value="0"/><div class="checkbox-circle"></div></span></td>
                            </tr>
                            <tr>
                                <td><div class="centered tooltip"><img class="" src="/assets/img/static/info.png"/><span class="tooltiptext">… beschreibt (u.a. räumliche, zeitliche, formale) Faktoren, die direkt oder indirekt auf den Lehr- und Lernprozess einwirken.</span></div></td>
                                <td class="matrixtag"><div class="matrixtag-inner">Kontext</div></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Kontext" value="1"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Kontext" value="2"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Kontext" value="3"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Kontext" value="4"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Kontext" value="5"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Kontext" value="0"/><div class="checkbox-circle"></div></span></td>
                            </tr>
                            <tr>
                                <td><div class="centered tooltip"><img class="" src="/assets/img/static/info.png"/><span class="tooltiptext">… kann sich sowohl auf die Ergebnisse in Form der Leistungskontrolle (z.B. Seminararbeit, Klausur) als auch auf einzelne Lehr-Lerneinheiten in Form der Qualitätskontrolle, Reflexion und Zufriedenheit (z.B. Q&A Sessions, Selbstevaluationen, Lerntagebuch) beziehen.</span></div></td>
                                <td class="matrixtag"><div class="matrixtag-inner">Evaluation</div></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Evaluation" value="1"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Evaluation" value="2"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Evaluation" value="3"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Evaluation" value="4"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Evaluation" value="5"/><div class="checkbox-circle"></div></span></td>
                                <td><span class="checkbox-el"><input type="checkbox" class="multiinput input-checkbox" name="Evaluation" value="0"/><div class="checkbox-circle"></div></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab">

                <div class="col-md-12 forminfo col-xs-24">
                    <h3 class="">Studentisches Feedback</h3>
                    <p>Das Feedback der Studierenden kann zur Weiterentwicklung deiner Lehrpraxis und zur Steigerung der Lehr-Lernqualität beitragen.</p>
                </div>

                <div class="row">
                    <div class="formcontent col-md-12 col-xs-24">
                        <label>Hast du dir Feedback zur Lehr- und Lernveranstaltung von den Studierenden eingeholt?</label>

                        <select name="eventFeedbackVorhanden" id="eventFeedbackVorhanden" onchange="checkfield('eventFeedbackVorhanden', 'feedbackYes')">
                            <option value="0">...</option>
                            <option value="other">ja</option>
                            <option value="nein">nein</option>
                        </select>
                        <div class="other" id="feedbackYes">
                            <div>
                                <label>Zu welchen Aspekten hast du dir das Feedback eingeholt?</label>
                                <input id="eventFeedbackWhat" placeholder="bitte begründen" type="text" name="eventFeedbackWhat" >
                            </div>
                            <label>Wie ist das Feedback seitens der Studierenden ausgefallen?</label>

                            <select class="hiddencontent" name="feedbackStudents" id="feedbackStudents" onchange="checkfield('feedbackStudents', 'feedbackStudentsWhy')">
                                <option value="0">...</option>
                                <option value="1">überwiegend sehr gut</option>
                                <option value="2">überwiegend gut</option>
                                <option value="3">überwiegend befriedigend</option>
                                <option value="4">überwiegend schlecht</option>
                                <option value="other">ausbaufähig, weil...</option>
                            </select>
                            <div>
                                <input class="other" id="feedbackStudentsWhy" placeholder="bitte eingeben" type="text" name="otherType" >
                            </div>
                        </div>
                        <label>Würdest du die Lehr-Lernveranstaltung in dieser Form wiederholen?</label>

                        <select name="eventErneutAnbieten" id="eventErneutAnbieten">
                            <option value="0">...</option>
                            <option value="ja">ja</option>
                            <option value="nein">nein</option>
                        </select>
                        <div>
                            <input class="open" id="eventErneutAnbietenWhy" placeholder="bitte begründen" type="text" name="eventErneutAnbietenWhy" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab">

                <div class="col-md-12 forminfo col-xs-24">
                    <h3 class="">Beeinflussende Faktoren</h3>
                    <p>Das Lernen und Lehren kann von weiteren Faktoren u.a. im Zuge der Digitalisierung beeinflusst werden.</p>
                </div>

                <div class="row">
                    <div class="formcontent col-md-12 col-xs-24">
                        <label>Glaubst du, dass digitale Medien zu mehr studentischer Beteiligung in der Lehre und im Lernen geführt haben?</label>

                        <select name="einflussStudentsTools" id="einflussStudentsTools">
                            <option value="0">...</option>
                            <option value="ja">ja</option>
                            <option value="nein">nein</option>
                            <option value="kA">ich weiß es nicht</option>
                        </select>
                        <div>
                            <input id="einflussStudentsToolsWhy" class="open" placeholder="bitte begründen" type="text" name="einflussStudentsToolsWhy" >
                        </div>
                        <label>Welche Aspekte haben sich aus deiner Sicht fördernd auf die studentische Partizipation ausgewirkt?</label>
                        <div>
                            <input id="einflussPartizipationPro" class="open" placeholder="...?" type="text" name="einflussPartizipationPro" >
                        </div>
                        <label>Welche Aspekte haben sich aus deiner Sicht hemmend auf die studentische Partizipation ausgewirkt?</label>
                        <div>
                            <input id="einflussPartizipationCon" class="open" placeholder="...?" type="text" name="einflussPartizipationCon" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab">

                <div class="col-md-12 forminfo col-xs-24">
                    <h3 class="">Pädagogisch-didaktische Haltung</h3>
                    <p>Die eigene Haltung hat einen wesentlichen Einfluss auf die Kultur des Teilens in der Lehr- und Lernveranstaltung. Bitte bewerte die folgenden pädagogischen Überzeugungen.</p>
                </div>

                <div class="row">
                    <div class="formcontent col-md-12 col-xs-24">
                        <label>Für mich haben digitalen Medien das Lernen und Lehren verbessert.</label>

                        <select name="medienInLehreGut" id="medienInLehreGut">
                            <option value="0">...</option>
                            <option value="4">Ich stimme voll und ganz zu</option>
                            <option value="3">Ich stimme zu</option>
                            <option value="2">Ich stimme nur bedingt zu</option>
                            <option value="1">Ich stimme nicht zu</option>
                        </select>
                        <label>In meinen Augen steht beim Lehren die Vermittlung von Fachinhalten im Vordergrund.</label>

                        <select name="fachinhalteMittelpunkt" id="fachinhalteMittelpunkt">
                            <option value="0">...</option>
                            <option value="4">Ich stimme voll und ganz zu</option>
                            <option value="3">Ich stimme zu</option>
                            <option value="2">Ich stimme nur bedingt zu</option>
                            <option value="1">Ich stimme nicht zu</option>
                        </select>
                        <label>Trotz z.T. zeitlicher Restriktionen gehe ich gerne mit den Studierenden ins Gespräch.</label>

                        <select name="diskussionGerne" id="diskussionGerne">
                            <option value="0">...</option>
                            <option value="4">Ich stimme voll und ganz zu</option>
                            <option value="3">Ich stimme zu</option>
                            <option value="2">Ich stimme nur bedingt zu</option>
                            <option value="1">Ich stimme nicht zu</option>
                        </select>
                        <label>Ich plane meine Lehr- und Lernveranstaltung gerne vollständig im Voraus.</label>

                        <select name="planungLehrveranstaltungVoraus" id="planungLehrveranstaltungVoraus">
                            <option value="0">...</option>
                            <option value="4">Ich stimme voll und ganz zu</option>
                            <option value="3">Ich stimme zu</option>
                            <option value="2">Ich stimme nur bedingt zu</option>
                            <option value="1">Ich stimme nicht zu</option>
                        </select>
                        <label>Ich gehe mit Schwierigkeiten im Lehralltag kompetent und gelassen um.</label>
                        <select name="schwierigkeitenAlltagGelassen" id="schwierigkeitenAlltagGelassen">
                            <option value="0">...</option>
                            <option value="4">Ich stimme voll und ganz zu</option>
                            <option value="3">Ich stimme zu</option>
                            <option value="2">Ich stimme nur bedingt zu</option>
                            <option value="1">Ich stimme nicht zu</option>
                        </select>
                        <label>Ich gebe die von mir entwickelten Bildungsmaterialien gerne an andere weiter.</label>
                        <select name="oerGerne" id="oerGerne">
                            <option value="0">...</option>
                            <option value="4">Ich stimme voll und ganz zu</option>
                            <option value="3">Ich stimme zu</option>
                            <option value="2">Ich stimme nur bedingt zu</option>
                            <option value="1">Ich stimme nicht zu</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="tab">

                <div class="col-md-12 forminfo col-xs-24">
                    <h3 class="">Demografie</h3>
                    <p>Zu guter Letzt sind wir interessiert, welche Lehrerfahrung du mitbringst.</p>
                </div>

                <div class="row">
                    <div class="formcontent col-md-12 col-xs-24">
                        <label>Seit wann bist du in der Lehre tätig?</label>

                        <select name="lehreInJahren" id="lehreInJahren">
                            <option value="0">...</option>
                            <option value="<1"><1 Jahr</option>
                            <option value="1-2">1-2 Jahre</option>
                            <option value="2-3">2-3 Jahre</option>
                            <option value="3-5">3-5 Jahre</option>
                            <option value="5-10">5-10 Jahre</option>
                            <option value="10-20">10-20 Jahre</option>
                            <option value="20-30">20-30 Jahre</option>
                            <option value=">30">>30 Jahre</option>
                        </select>
                        <label>Welche Rolle hast du an der wissenschaftlichen Einrichtung?</label>

                        <select name="rolleLehrperson" id="rolleLehrperson" onchange="checkfield('rolleLehrperson', 'rolleLehrpersonAndere')">
                            <option value="0">...</option>
                            <option value="Prof">Professor_in</option>
                            <option value="ForschGrupLeit">Forschungsgruppenleiter_in</option>
                            <option value="WiMi">Wissenschaftliche(r) Mitarbeiter_in</option>
                            <option value="StuMi">Studentische(r) Mitarbeiter_in</option>
                            <option value="PostDoc">PostDoc</option>
                            <option value="LehrPmbAufg">Lehrperson mit besonderen Aufgaben</option>
                            <option value="other">andere...</option>
                        </select>
                        <div>
                            <input id="rolleLehrpersonAndere" class="other" placeholder="bitte angeben" type="text" name="rolleLehrpersonAndere" >
                        </div>
                        <label>In welchem Bundesland bist du tätig?</label>

                        <select name="bundesland" id="bundesland">
                            <option value="0">...</option>
                            <option value="Baden-Württemberg">Baden-Württemberg</option>
                            <option value="Bayern">Bayern</option>
                            <option value="Berlin">Berlin</option>
                            <option value="Brandenburg">Brandenburg</option>
                            <option value="Bremen">Bremen</option>
                            <option value="Hamburg">Hamburg</option>
                            <option value="Hessen">Hessen</option>
                            <option value="Mecklenburg-Vorpommern">Mecklenburg-Vorpommern</option>
                            <option value="Niedersachsen">Niedersachsen</option>
                            <option value="Nordrhein-Westfalen">Nordrhein-Westfalen</option>
                            <option value="Rheinland-Pfalz">Rheinland-Pfalz</option>
                            <option value="Saarland">Saarland</option>
                            <option value="Sachsen">Sachsen</option>
                            <option value="Sachsen-Anhalt">Sachsen-Anhalt</option>
                            <option value="Schleswig-Holstein">Schleswig-Holstein</option>
                            <option value="Thüringen">Thüringen</option>
                            <option value="Ausserhalb von Deutschland">Außerhalb von Deutschland</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="tab">

                <div class="col-md-12 forminfo col-xs-24">
                    <h3 class="">Du hast es geschafft! 💪</h3>
                </div>


            </div>
            <div class="col-md-12 formnav col-xs-24">

                <div class="content-wrap formbuttons">
                    <button class="edu-btn orange" type="button" id="prevBtn" onclick="nextPrev(-1)">Zurück</button>
                    <button class="edu-btn orange" type="button" id="nextBtn" onclick="nextPrev(1)">Weiter</button>
                </div>
            </div>
        </form>
    </section>
</div>

