.feedback {
      h1 {
          font-size: 4rem !important;
          line-height: 1em !important;
      }
}
.hero {
  .logo {
    width: 50vw;
  }
  &.home{
      height: 600px;
      p{
        //font-weight: 700;
        //line-height: 30px;
        font-size: 1.5rem;

      }
      h1 {
        text-align: left !important;
        font-size: 1.5rem !important;
        line-height: 1em !important;
      }
      .branding{
        h1 {
          text-align: left !important;
          font-size: 4rem !important;
          line-height: 1em !important;
        }
      }
    }
}

.filter-items {
  display: inline-block;
  width: 90%;

  .filter-item {
    font-size: 2.0em;
    padding: 5px 15px;
    color: white !important;
    font-weight: bold;
  }
}
.header {
    .branding-nav {
      font-size: 2.0rem;
      line-height: 1.1em;

      //margin-top: 10px;
      margin-left: 5px;
    }
}
.home-aims-list{
    img{
        width: 40%;
    }
  .sub{
    &.mobil-hide {
        display: none;
    }
    &.desktop-hide {
        display: block;
    }
  }
}

.tableofcontent {
    display: none;
}
.hidemobil {
    display: none;

}
.statusindicator {
    .inner {
        width: 100%;
    }
}

.feedback {
    //height: 800px;
    margin-top: 50px;
    h1 {
        font-size: 3.5rem;
    }

}
.tooltip .tooltiptext {
    width: 320px;
}
td, th {
  padding: 2px;
}